---
const { data } = Astro.props;
import ProductColor from "./ProductColor.astro";
---

<article>
  <img class="hjerte" src="images/hjerte.png" alt="hjerte" />
  <img src={data.image} alt=`Image of ${data.products}` />
  <h3>{`${data.name} - ${data.collection}`}</h3>
  <p>{data.price} kr</p>
  <p><a href=`/products/${data.slug}`>Læs mere</a></p>

  <div class="color">
    {
      data.color &&
        data.color.map((color) => {
          return <ProductColor color={color} />;
        })
    }
  </div>
</article>

<style>
  a {
    text-decoration: none;
    color: black;
  }

  article {
    min-width: 300px;
    max-width: 350px;
    /* border-style: solid;
    border-width: 1px;
    border-color: rgb(195, 195, 195); */
    position: relative;
  }

  .color {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .card_tekst {
    padding-left: 1rem;
    padding-top: 1rem;
  }
  .hjerte {
    position: absolute;
    width: 20px;
    right: 12px;
    padding-top: 12px;
  }

  p {
    font-size: var(--font-size-p-mobil);
  }
</style>
